/* This css snippet brings in the real time data for the moon shape.
It sets:
body, .moonshadow { background & color }
.light { color }
.moon { -webkit-clip-path & clip-path }
.moonglow { box-shadow }
.moonshadow { display }
See https://github.com/mitten/css-moon for further information */
@import "moon.css";


/* BASIC STYLING */

html {
	min-height:  100%;
	margin: 0;
	font-family: Calibri, "Arial Narrow", sans-serif;
}

body {
	margin: auto 10%;
}

h1 {
	display: block;
	margin-bottom: .5em;
	text-align: center;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: .25em;
}

p {
	display: block;
	text-align: center;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: .125em;
}

a {
	text-decoration: none;
}


/* MOON SETTINGS */

.moonwrapper, .moon, .moonglow, .moonshadow {
	height: 20vw;
	min-height: 200px;
	width: 20vw;
	min-width: 200px;
}

.moonwrapper {
	position: relative;
	margin: 3rem auto;
	transform: rotate(-12deg);
}

.moonglow {
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	border-radius: 50%;
	z-index: 1; /* keeps it on top of .moon & .moonshadow */
}

.moon {
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	border-radius: 50%;
}

.moonshadow {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
}


